download/logs/
download/output/
venv/
jobs/
.DS_Store
logs/
scripts/__pycache__/
scripts/utils/__pycache__/
.ipynb_checkpoints/
.env
data
notebooks/api_usage.txt
cs4/utils/__pycache__/
cs4/core/__pycache__
cs4/__pycache__
outputs/
20251206_134821_parse/output/blogs_20251206_134821.csv
__pycache__/
